@font-face {
    font-family: zHind-Regular;
    src: url(../../fonts/Hind/Hind-Regular.ttf);
}
@font-face{
    font-family: "zHind Light";
    src: url(../../fonts/Hind/Hind-Light.ttf);
}
@font-face{
    font-family: "zHind - Semibold";
    src: url(../../fonts/Hind/Hind-SemiBold.ttf);
}
@font-face {
    font-family: zHind;
    src: url(../../fonts/Hind/Hind-Light.ttf);
}
@font-face{
    font-family: "zOpen Sans";
    src: url(../../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face{
    font-family: zRoboto;
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face{
    font-family: zMontserrat;
    src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
    font-family: zMrsSaintDelafield;
    src: url(../../fonts/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.ttf);
}