@import "./fonts.css";
.aside, .section{
    margin: 100px 0 100px 0;
}
@mixin bonus {
    color: #999999;
    font-family: zHind;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.84px;
}
#form{
    margin: 20px 0 21px 0;
    height: 50px;
    width: 100%;
    display: none;
    grid-column-end: span 12;
    padding: 0;
    @media screen and(max-width:480px){
        display: flex;
    }
    .btn{
        flex: 1 0 50px;
        background-color: #212121;
        align-items: stretch;
        display: flex;
        img{
            margin: auto;
        }
    }
    .site-search{
        flex: 4 10 0px;
        padding: 0 20px;
        font-family: zHind;
        align-items: stretch;
        color: #212121;
        text-transform: uppercase;
        display: block;
    }
}
@import "./aside.scss";
.section {
    #map{
        flex: 0 1 500px;
        height: 300px;
    }
    .contact-info{
        display: flex;
        @media screen and(max-width:480px){
            display: block;
        }
        .contact-text{
            font-family: zHind;
            flex: 1 1 0px;
            padding: 30px;
            letter-spacing: 0.17px;
            line-height: 24px;
            color: #424242;
            .title{
                font-family: zMontserrat;
                text-transform: uppercase;
                font-weight: 700;
                height: 16px;
                color: #424242;
            }
            .breake-line{
                width: 60%;
                margin: 30px 0;
                height: 1px;
                background-color: #eaeaeb;
            }
            .contact-list{
                margin: 30px 0 0 0;
            }
            .contact-list *{
                padding: 0 0 0 25px;
            }
            .home{
                background: url(../../img/home.webp) 0 center no-repeat;
            }
            .email{
                background: url(../../img/email__list.webp) 2px center no-repeat;
            }
            .site{
                background: url(../../img/web__icon.webp) 2px center no-repeat;
            }
        }
    }
    .send-massage{
        margin: 30px 0;
        input, textarea{
            padding:  20px;
            font-family: zHind;
            color: #424242;
            letter-spacing: 0.17px;
        }
        .contact-info{
            display: flex;
            height: 50px;
            @media screen and(max-width:480px){
                display: block;
                height: auto;
            }
            margin:  0 0 20px 0;
            & *{
                flex-shrink: 1;
                border: none;
                flex-grow: 1;
                box-shadow: 1px 1px 1px rgba(234, 234, 235, 0.75);
                &:first-child{
                    margin: 0 26px 0 0;
                }
                @media screen and(max-width:480px){
                    width: 100%;
                    &:first-child{
                        margin: 0 0 20px 0;
                    }
                }
            }
        }
        .website-adress input{
            width: 100%;
            height: 50px;
            border: none;
            box-shadow: 1px 1px 1px rgba(234, 234, 235, 0.75);
        }
        textarea{
            resize: none;
            width: 100%;
            margin: 20px 0;
            border: none;
            box-shadow: 1px 1px 1px rgba(234, 234, 235, 0.75);
        }
        .btn{
            background-color: #212429;
            width: 170px;
            display: block;
            text-transform: uppercase;
            font-family: zMontserrat;
            font-size: 12px;
            color: #fff;
            border: none;
            height: 40px;
            @media screen and(max-width:480px){
                margin: 0 auto;
            }
        }
    }
}